.header-container {
  padding: 50px;
}

.main-heading {
  text-align: center;
}

.height-width-row {
  margin-left: 60px;
}

.colors {
  padding: 25px;
  text-align: center;
  margin-left: 100px;
}

.colour-picker {
  padding: 0px !important;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 50px;
}

td {
  width: 50px;
}
